<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

<title>IMG SHERLOCK</title>
<h1>Select an image to test</h1>
<form method=post enctype=multipart/form-data>
    <p><input type=file name=file>
        <br/><br/>
        step size: <input type="text" name=stepsize value="128">
        <br/><br/>
        localization threshold: <input type="text" name=threshold value="3">
        <br/><br/>
        <input type=submit value=test>

</form>

<div style="display: {{ display }}">
    <p>result: {{ result }}</p>
    <img src="http://localhost:5000/uploads/{{ file }}">

    &nbsp;&nbsp;&nbsp;

    <img src="http://localhost:5000/results/{{ file }}">

    <br/><br/>

    <img src="http://localhost:5000/ela/{{ file }}">

    &nbsp;&nbsp;&nbsp;

    <img src="http://localhost:5000/location/{{ file }}">
</div>

</body>
</html>